body {
    color: #ffffff;
    font-family: "Lato", Helvetica Neue, helvetica, sans-serif;
    background-color: #3e3e3e;
    height: 500px;
    width: 300px;
    position: relative;
    margin: 10px;
}